nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 200px;

}

.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

nav > h2{
    font-size: 45px;
    font-weight: 800;
}

.menu li{
    list-style: none;
    display: inline;
    margin: 10px;
    align-items: center;
}

.menu a{
    text-decoration: none;
}

#r-style{
    color: #FD6E0A;
}

.dark-2{
    color:#474747;

}

.btn{
background-color: #FD6E0A;
padding: 18px 35px 18px 35px;
color: white;
font-size: 20px;
font-weight: bold;
border-radius: 5px;
border: none;
}

.con-btn {
    background-color: #FD6E0A;
    padding: 18px 35px 18px 35px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;

}

.head-img {
    background-image: url("./images/developer.png"), url("./images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;

    
}


#size-1{
    margin-right: 50px;
    font-size: 20px;
    font-weight: bold;
}

.banner {
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 230px;
}

.banner-content {
    width: 580px;
}

.banner-greetings {
    font-size: 45px;
    font-weight: 600;
}

.banner-heading {
    font-size: 85px;
    font-weight: bold;
    color: #181818;
}
.banner-description {
    color: #757575;
    font-size: 18px;
    font-weight: 600;
}

.banner-img {
    width: 584px;
}


.about {
    background-color: #FFF8F3;
    margin: 130px 230px 0px 230px;
    text-align: center;
    border-radius: 10px;

    
}

.about-me {
    padding: 130px 150px;
    
}

.about-items {
    display: flex;
    justify-content: space-around;
}

.item-title {
    color: #757575;
    font-size: 20px; 
    font-weight: 400;
}

.item-description {
    color: #474747;
    font-weight: bold;
}

.Below {
    text-align: center;
}

.ido { padding-left: 717px;
    padding-right: 717px;
    padding-top: 130px;
}

.experience{
    padding: 30px 345px 0px 345px;
    font-size: 18px;
    font-weight: 400;
}
